In [13]:
data_<-read.csv("csvs/msci_day.csv")
white_noise<-rnorm(nrow(data_),0,1)


head(data_)

  Date     ca      fr      ge      it      jp       uk      us
1 2003/1/1 560.099 902.081 724.932 290.187 1593.175 791.076 824.583
2 2003/1/2 574.701 927.206 768.150 296.963 1578.214 797.813 852.219
3 2003/1/3 580.212 929.297 768.411 298.757 1578.411 800.175 851.935
4 2003/1/6 589.619 943.002 788.164 303.273 1619.700 803.966 871.515
5 2003/1/7 585.822 923.785 774.054 297.892 1590.951 793.625 865.992
6 2003/1/8 576.522 900.435 742.414 293.791 1564.566 783.566 853.401

In [14]:
res<-lm(log(data_$fr)~white_noise)
summary(res)

Call:
lm(formula = log(data_$fr) ~ white_noise)

Residuals:
     Min       1Q   Median       3Q      Max
-0.71774 -0.19740 -0.00727  0.26857  0.44675

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  7.323433   0.007718 948.906   <2e-16 ***
white_noise -0.006767   0.007905  -0.856    0.392
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.2878 on 1389 degrees of freedom
Multiple R-squared:  0.0005273,	Adjusted R-squared:  -0.0001922
F-statistic: 0.7328 on 1 and 1389 DF,  p-value: 0.3921